* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* header code here */

.sticky {
    width: 100%;
    position: fixed;
    background: rgba(0 0 0/40%);
    z-index: 2000;
}

.navbar {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    position: sticky;
    z-index: 1000;
}

.upper-menu {
    background: #29b2e4;
    padding: 5px 0px;
}

.search-icon {
    background-color: #ffffff!important;
    border-radius: 15px 0px 0px 15px;
}

.search-bar {
    border: none;
    padding-right: 140px;
    border-radius: 0px!important;
    outline: none;
}

.search-dropdown {
    background-color: white;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 0px;
    border-radius: 0px 15px 15px 0px;
}

.search-option-icon i {
    margin-right: 10px;
}

.btn3 {
    background: none;
    border: none;
    border-radius: 40%;
    margin-right: 10px;
}

.btn3:hover {
    background: rgba(255, 255, 255, .3);
}

.search-dropdown i {
    padding-right: 5px;
}

.v-divider {
    padding-right: 15px;
}

.btn2 {
    background-color: rgba(255, 255, 255, .3);
    border: none;
}

.btn2:hover {
    background: #26e6fe;
}

.main-menu {
    padding-top: 15px;
    background: #29b2e4;
    border-bottom: 1px solid #26e6fe;
    color: white;
}

.main-menu ul li {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.main-menu ul li a {
    cursor: pointer;
}

.main-menu ul li:hover {
    border-bottom: 2px solid #26e6fe;
}

.main-menu ul li:first-child {
    margin-left: 15px;
}

.form-control:focus {
    border-color: none!important;
    box-shadow: none !important;
}


/* banner code here */

.banner {
    background: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    position: relative;
    z-index: 1000;
}

.overlay {
    position: absolute;
    content: " ";
    background-color: #29b2e4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    opacity: .3;
}

.banner-container {
    position: relative;
    z-index: 2000;
    margin-left: 5%;
}

.banner-left {
    padding-top: 150px;
}

.page-header {
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    line-height: 1.03;
    color: #fff;
    letter-spacing: -.4px;
    font-family: 'Bebas Neue', cursive;
    margin-right: 10%;
}

.search-bar2 {
    border: none;
    padding-right: 200px!important;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
    border-radius: 0px!important;
    outline: none;
}

.search-dropdown2 {
    background-color: white;
    border: none;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 0px;
    border-radius: 0px 15px 15px 0px;
}

.search-dropdown2 i {
    padding-right: 5px;
}

.under-search {
    padding-top: 40px;
    color: white;
}

.under-search ul li {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    margin-left: 20px;
    position: relative;
    background: #29b2e4;
    padding: 3px 12px;
    border-radius: 15px;
    cursor: pointer;
}

.under-search ul li:hover {
    border-bottom: 2px solid #26e6fe;
    transform: scale(1.1);
}

.under-search ul li:nth-child(1):hover {
    border-bottom: none;
    transform: none;
}

.under-search ul li:first-child {
    margin-left: 15px;
}


/* profile-auction code here */

.profile-auction {
    background: #26e6fe;
}

.profile {
    text-align: center;
}

.profile-inner {
    background: rgba(41, 178, 228, .4);
    margin-top: 40px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.profile-inner img {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.profile-inner h2 {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 500;
    text-transform: none;
    color: #000;
}

.profile-inner a {
    color: grey;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
}

.profile-inner a:hover {
    text-decoration: underline;
}

.profile-icon {
    margin: 10px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.profile-icon li {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
}

.profile-icon li i {
    font-size: 24px;
    padding: 15px;
    border-radius: 50%;
}

.profile-icon li i:hover {
    background: rgba(41, 178, 228, .4);
}

.btn1 {
    padding: 10px 60px;
    background: rgba(255, 255, 255, .4);
    border: none;
}

.btn1 span {
    margin-left: 30px;
}

.divider {
    margin: 20px auto;
    width: 80%;
    border-bottom: 1px solid grey;
}

.profile-inner h3 {
    text-align: left;
    margin-left: 40px;
    font-size: 11px;
    letter-spacing: .4px;
    line-height: 18px;
    color: rgb(112, 112, 112);
    font-weight: 500;
    text-transform: uppercase;
}

.info-p {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.info-p span {
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
}

.btn4 {
    display: block;
    margin-left: 40px;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background: rgba(255, 255, 255, .4);
}

.about-p {
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 3px;
}

.btn5 {
    text-align: left;
    margin-left: 40px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: left;
}

.btn5 span {
    margin-left: 20px;
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 20px;
    font-weight: 500;
    text-transform: none;
    color: #fff;
}

.btn5 i {
    color: #fff;
}

.auction {
    background: rgba(41, 178, 228, .4);
    width: 95%;
    max-width: 1120px;
    border-radius: 10px;
    margin: 40px 2.5% auto 2.5%;
}

.auction h2 {
    padding: 30px 20px;
    padding-bottom: 15px;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 500;
    text-transform: none;
    color: #000;
}

.divider2 {
    margin: 10px auto;
    width: 95%;
    border-bottom: 1px solid grey;
}

.auction-left {
    color: #212529;
    font-size: 14px;
    text-align: right;
    display: block;
    margin: 10px 0px;
}

.auction-right {
    color: #212529;
    font-size: 14px;
    text-align: left;
    display: block;
    margin: 10px 0px;
}

.current-bid {
    color: #212529;
    text-align: left;
    display: block;
    margin: 10px 0px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgba(17, 24, 32, 0.87) !important;
}

.bid-input {
    background: rgba(255, 255, 255, .4);
    width: 150px;
    padding: 10px 5px;
    outline: none;
}

.bid-input:focus {
    background: #fff;
}

.new-bid {
    color: grey;
}

.total-bid {
    display: flex;
    justify-content: center;
}

.bid-button {
    background: rgba(255, 255, 255, .4);
    padding: 10px 56px;
    margin-top: 15px;
    border-radius: 30px;
    border: none;
}

.bid-button2 {
    background: rgba(255, 255, 255, .4);
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 30px;
    border: none;
}

.bid-button:hover,
.bid-button2:hover,
.btn1:hover,
.btn4:hover,
.btn8:hover {
    background: rgba(255, 255, 255, .8);
}

.bid-button2 i {
    margin-right: 5px;
}

.post-location {
    display: flex;
    justify-content: center;
    color: #212529;
}

.auction-right img {
    width: 40px;
}

.auction-last {
    padding-right: 75px;
}


/* comments code here */

.comments {
    background: rgba(41, 178, 228, .4);
    width: 95%;
    max-width: 1120px;
    border-radius: 10px;
    margin: 40px 2.5% auto 2.5%;
    padding-bottom: 20px;
}

.comments h2 {
    padding: 30px 20px;
    padding-bottom: 15px;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 500;
    text-transform: none;
    color: #000;
}

.com-image {
    width: 80px;
    margin-left: 20px;
}

.com-image img {
    border-radius: 50%;
}

.com-input input {
    border: none;
    border-bottom: 1px solid #29b2e4;
    background: transparent;
    width: 82%;
    outline: none;
}

com-input input:focus {
    outline: none!important;
    border: none !important;
    border-bottom: 1px solid #29b2e4;
}

.btn7 {
    display: inline;
    margin-left: 40px;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background: rgba(255, 255, 255, .4);
}

.btn7 i {
    color: #fff;
}

.single-comments {
    margin: 30px auto;
}

.comments-author {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 18px;
    font-family: var(--font-primary);
    font-weight: 500;
    text-transform: none;
    color: var(--bs-fi-primary);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.comments-author span {
    color: gray;
}

.com-input p {
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 20px;
    font-family: var(--font-primary);
    font-weight: 500;
    text-transform: none;
    color: var(--bs-fi-primary);
    word-break: break-all;
    margin-top: 2px;
    margin-bottom: 2px;
}

.com-input small i {
    color: #fff;
    margin-right: 5px;
}

.com-input small span {
    margin-left: 5px;
    color: #fff;
}

.btn8 {
    padding: 10px 60px;
    background: rgba(255, 255, 255, .4);
    border: none;
    margin-left: 20px;
}

.slider {
    margin-left: 20px;
}

.related-tracks {
    padding: 40px 0px;
}

.related-tracks img {
    margin-bottom: 10px;
    width: 200px!important;
    height: 250px!important;
}

.related-tracks span {
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
}

.related-tracks span a {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 20px;
    font-weight: 500;
    text-transform: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.related-tracks .song-name {
    display: block;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 500;
    text-transform: none;
}

.song-company {
    color: #212529;
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
}

.item {
    padding-right: 10px;
}

.owl-nav {
    display: none;
    margin-top: -5px;
}

.related-tracks {
    margin-bottom: 40px;
}