* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* header code here */

.navbar {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    position: sticky;
    z-index: 1000;
}

.upper-menu {
    background: #29b2e4;
    padding: 5px 0px;
}

.search-icon {
    background-color: #ffffff!important;
    border-radius: 15px 0px 0px 15px;
}

.search-bar {
    border: none;
    padding-right: 140px;
    border-radius: 0px!important;
}

.search-dropdown {
    background-color: white;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 0px;
    border-radius: 0px 15px 15px 0px;
}

.btn3 {
    background: none;
    border: none;
    border-radius: 40%;
    margin-right: 10px;
}

.btn3:hover {
    background: rgba(255, 255, 255, .3);
}

.search-dropdown i {
    padding-right: 5px;
}

.v-divider {
    padding-right: 15px;
}

.btn2 {
    background-color: rgba(255, 255, 255, .3);
    border: none;
}

.btn2:hover {
    background: #26e6fe;
}

.main-menu {
    padding-top: 15px;
    background: #29b2e4;
    border-bottom: 1px solid #26e6fe;
    color: white;
}

.main-menu ul li {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.main-menu ul li:hover {
    border-bottom: 2px solid #26e6fe;
}

.main-menu ul li:first-child {
    margin-left: 15px;
}

.form-control:focus {
    border-color: none!important;
    box-shadow: none !important;
}


/* banner code here */

.banner {
    background: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    position: relative;
    z-index: 1000;
}

.overlay {
    position: absolute;
    content: " ";
    background-color: #29b2e4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    opacity: .3;
}

.banner-container {
    position: relative;
    z-index: 2000;
    margin-left: 20px;
}

.banner-left {
    padding-top: 150px;
}

.page-header {
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    line-height: 1.03;
    color: #fff;
    letter-spacing: -.4px;
    font-family: 'Bebas Neue', cursive;
}

.search-bar2 {
    border: none;
    padding-right: 200px!important;
    padding-top: 15px!important;
    padding-bottom: 15px!important;
    border-radius: 0px!important;
}

.search-dropdown2 {
    background-color: white;
    border: none;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 0px;
    border-radius: 0px 15px 15px 0px;
}

.search-dropdown2 i {
    padding-right: 5px;
}