* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/16px "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #212529;
    font-weight: 500;
}

.navbar-toggler {
    visibility: hidden!important;
}

.menu-right {
    justify-content: right;
}

.menu-right i {
    margin-right: 100px;
    font-size: 18px;
    color: #009eff;
    cursor: pointer;
}

.menu-right i:hover {
    color: #292929;
}

.menu-right span {
    margin-right: 30px;
    color: Rgb(33, 37, 41) !important;
    cursor: pointer;
}

.menu-right span i {
    margin-right: 5px;
}

.main_sec {
    margin-top: 40px;
}

.menu-left ul {
    list-style-type: none;
}

.menu-left ul li {
    line-height: normal !important;
    font-weight: 500;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: -20px;
    cursor: pointer;
}

.menu-left ul li:hover {
    color: #009eff;
}

.menu-left .last-li {
    padding-top: 100px;
}

.menu-left ul li i {
    font-size: 24px;
}

.menu-left ul li span {
    margin-left: 10px;
}

.product-side {
    box-shadow: 7px 7px 6.79px 7px rgba(0, 0, 0, 0.03)!important;
    border-radius: 10px;
}

.view-product h1 {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0px;
}

.product-img {
    padding: 28px 28px 11px 78px;
}

.product-img:hover {
    transform: scale(1.5);
}

.product-img img {
    height: 165px!important;
    width: 365px!important;
}

.product-header {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 20px !important;
    text-align: left !important;
    color: #292929;
}

.product-header:hover {
    color: #009eff;
}

.detail-style .detail-single {
    font-size: 12px;
    color: #9f9f9f;
    font-weight: 400;
}

.detail-style .detail-single2 {
    font-size: 12px;
    color: #292929;
    font-weight: 500;
}

.line-divider {
    margin-left: -12px;
    margin-right: 6px;
    color: #e1e1e1;
    /* line-height: 1.8; */
    float: left;
}

.divider {
    border-width: 1px 1px 0px;
    border-style: solid;
    background-color: transparent;
    border-color: currentcolor;
    margin: 20px 0px;
    width: 100%;
    color: rgb(231, 231, 231);
}

.product-bid {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
}

.price-style .detail-single {
    font-size: 12px;
    color: #9f9f9f;
    font-weight: 400;
}

.price-style .bid {
    display: block;
}

.price-box {
    position: relative;
    width: 100%;
}

.price-box select {
    appearance: auto;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    outline: currentcolor none 0px;
    text-indent: 0.01px;
    text-overflow: "";
    border-radius: 0px;
    width: 100%;
    padding: 0px 24px 0px 10px;
    font-family: "ll-unica77", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid rgb(194, 194, 194);
    cursor: pointer;
    line-height: 1;
    transition: color 0.25s ease 0s, background-color 0.25s ease 0s, border-color 0.25s ease 0s;
    height: 50px;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.place-bid {
    margin-top: 20px;
    padding: 0px 25px 0px 25px;
    height: 36px !important;
    width: 98%;
    font-weight: 600;
    background: #009eff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
    color: #ffffff;
}

.bid-end {
    font-size: 16px;
    line-height: 20px;
    color: rgb(112, 112, 112);
    font-family: "ll-unica77", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 20px;
    text-align: center;
}

.ship {
    margin-top: 20px;
    font-size: 12px;
    color: #9f9f9f;
    font-weight: 400;
}

.shipping {
    color: #fc54a3;
}

.shipping2 {
    margin-left: 10px;
}

.ship2 {
    margin-top: -15px;
    font-size: 12px;
    color: #9f9f9f;
    font-weight: 400;
}